@import url(reset.css);
body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: 48px;
  color: #FFFFFF;
}
h1 {
  font-size: 240%;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: sans-serif;
  text-shadow: 2px 2px 30px #FF0066;
  -webkit-text-stroke: 2px #FFFFFF;
  -webkit-text-fill-color: transparent;
}
.cont, .wrap, .block {
  box-sizing: border-box;
}
.cont {
  width: 80%;
  margin: 0 auto;
}
.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;
}
.block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  margin: 4px;
}
main .wrap {
  justify-content: center;
  align-items: flex-start;
}
footer .wrap {
  display: grid;
}
footer .block:nth-child(1) {
  background-color: cadetblue;
}
footer .block:nth-child(2) {
  background-color: aquamarine;
}
footer .block:nth-child(3) {
  background-color: bisque;
}
footer .block:nth-child(4) {
  background-color: aliceblue;
}